.ttl-section {
	text-align: center;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.txt-sectionSymbol {
	font-size: 50px;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: .04em;
	display: block;
	transition-property: font-size;
	transition-duration: .5s;
}

.txt-sectionSymbolScript {
	font-size: 70px;
	line-height: 1;
	color: #EDE3D5;
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
	transform: rotate(-7deg);
	width: 95%;
	transition-property: font-size;
	transition-duration: .5s;
	
	.txt-space + .txt-space {
		margin-left: 40px;
	}
}

.txt-section {
	margin-top: 48px;
	font-weight: bold;
	font-size: 38px;
	letter-spacing: .04em;
	line-height: 1.5;
	transition-property: font-size;
	transition-duration: .5s;
}

@media screen and (max-width:960px) {
	.txt-sectionSymbol {
		font-size: 40px;
	}
	
	.txt-sectionSymbolScript {
		font-size: 60px;
		top: 10px;
		
		.txt-space + .txt-space {
			margin-left: 30px;
		}
	}
	
	.txt-section {
		margin-top: 38px;
		font-size: 28px;
	}
}

@media screen and (max-width:780px) {
	.ttl-section {
		width: 90%;
	}
	
	.txt-sectionSymbol {
		font-size: 30px;
	}
	
	.txt-sectionSymbolScript {
		font-size: 39px;
		
		.txt-space + .txt-space {
			margin-left: 20px;
		}
	}
	
	.txt-section {
		margin-top: 25px;
		font-size: 24px;
	}
}

@media screen and (max-width:420px) {
	.txt-section {
		margin-top: 15px;
		
		.txt-newLine {
			display: block;
		}
	}
}