<div class="ttl-section">
	<p class="txt-sectionSymbol txt-fontAlphabet"><%= txtSectionSymbol %></p>
	<p class="txt-sectionSymbolScript txt-fontAlphabetSub"><%- txtSectionSymbolScript %></p>
	<h3 class="txt-section txt-fontJapanese"><%- ttlSectionTop %></h3>
</div><!-- /.ttl-section -->