<div class="box-sectionTop">
	<p class="txt-sectionSymbol txt-fontAlphabet"><%= txtSectionSymbol %></p>
	<p class="txt-sectionSymbolSub txt-fontAlphabetSub"><%- txtSectionSymbolSub %></p>
	<h3 class="ttl-sectionTop txt-fontJapanese"><%- ttlSectionTop %></h3>
</div><!-- /.box-sectionTop -->