<div class="box-skillSection">
	<div class="img-skillSection">
		<img src="/skill/img/img_pacific01.jpg" alt="サムネイル グラフィックデザインの実績／パシフィック不動産 イメージビジュアル01" width="100%" height="" />
	</div>
	<div class="img-skillSection">
		<img src="/skill/img/img_pacific02.jpg" alt="サムネイル グラフィックデザインの実績／パシフィック不動産 イメージビジュアル02" width="100%" height="" />
	</div>
	<p class="txt-skillSection">金沢で不動産業を展開する『パシフィック不動産』のプロモーションの事例です。</p>	
</div><!-- /.box-skillSection -->