@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Meddon|Sawarabi+Gothic');

a {
	color: #333;
	text-decoration: none;
	
	&:visited,
	&:hover,
	&:active {
		color: #333;
		text-decoration: none;
	}
}

.txt-fontAlphabet {
	font-family: 'Josefin Sans', sans-serif;
}

.txt-fontAlphabetSub {
	font-family: 'Meddon', cursive;
}

.txt-fontJapanese {
	font-family: 'Sawarabi Gothic', sans-serif;
}