<footer class="box-footer">
	<div class="box-socialMedia box-socialMedia--footer">
		<div class="btn-socialMedia">
			<a href="https://www.facebook.com/tatsuya.shimosaka" target="_blank"><img src="/common/img/ico-followFacebook.svg" align="アイコン フェイスブック フォロー" width="50" height=""></a>
		</div>

		<div class="btn-socialMedia">
			<a href="https://www.instagram.com/shimosaka_tatsuya/?hl=ja" target="_blank"><img src="/common/img/ico-followInstagram.svg" align="アイコン インスタグラム フォロー" width="50" height=""></a>
		</div>

		<span class="txt-socialMedia txt-fontAlphabet">Follow</span>
	</div><!-- /.box-socialMedia -->
	
	<p class="txt-siteCopyright txt-fontAlphabet">© SHIMO A Space Of WEB Creative Activity</p>
</footer><!-- /.box-footer -->