.box-header {
	padding: 26px 25px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

@media screen and (max-width:480px) {
    .box-header {
		padding: 12px;
    }
}

.txt-siteName {
	font-size: 32px;
	line-height: 1;
	letter-spacing: 6px;
	display: block;
	float: left;
	position: relative;
	transition-property: opacity, z-index, font-size;
	transition-duration: .5s;
	z-index: 2;
}

.txt-siteName--through {
	opacity: 0;
	pointer-events: none;
}

#hamburgerMenuInput:checked + .txt-siteName--through {
	opacity: 1;
	pointer-events: auto;
}

@media screen and (max-width:480px) {
    .txt-siteName {
		font-size: 20px;
		margin-top: 3px;
    }
}

#hamburgerMenuInput {
	display:none;
}

.btn-hamburgerMenu {
	display: block;
	width: 35px;
	height: 26px;
	float: right;
	position: relative;
	z-index: 2;
	transition-property: width, height, transform;
	transition-duration: .5s;
	
	&:hover {
		cursor: pointer;
		transform: scale(1.08);
	}
}

@media screen and (max-width:480px) {
    .btn-hamburgerMenu {
        width: 25px;
		height: 20px;
    }
}

.btn-hamburgerMenu span,
.btn-hamburgerMenu::before,
.btn-hamburgerMenu::after {
	display: block;
	height: 2px;
	position: absolute;
	background-color: #333;
	right: 0;
}

.btn-hamburgerMenu--white span,
.btn-hamburgerMenu--white::before,
.btn-hamburgerMenu--white::after {
	background-color: #fff;
}

.btn-hamburgerMenu span {
	width: 22px;
	top: 0;
	bottom: 0;
	margin: auto;
	transition-property: opacity, width;
	transition-duration: .3s;
	transform-origin: center left;
}

@media screen and (max-width:480px) {
	.btn-hamburgerMenu span {
		width: 15px;
	}
}

.btn-hamburgerMenu::before,
.btn-hamburgerMenu::after {
	transition-property: transform, width, color, top, left, right, bottom;
	transition-duration: .3s;
}

.btn-hamburgerMenu::before {
	content: "";
	width: 35px;
	top: 0;
	transform-origin: top right;
}

@media screen and (max-width:480px) {
	.btn-hamburgerMenu::before {
		width: 25px;
	}
}

.btn-hamburgerMenu::after {
	content: "";
	width: 27px;
	bottom: 0;
	transform-origin: bottom right;
}

@media screen and (max-width:480px) {
	.btn-hamburgerMenu::after {
		width: 18px;
	}
}

#hamburgerMenuInput:checked ~ .btn-hamburgerMenu span {
	opacity: 0;
	width: 0;
}

#hamburgerMenuInput:checked ~ .btn-hamburgerMenu::before,
#hamburgerMenuInput:checked ~ .btn-hamburgerMenu::after {
	width: 35px;
	margin: auto;
	left: 0;
	right: 0;
	background-color: #333;
}

@media screen and (max-width:480px) {
	#hamburgerMenuInput:checked ~ .btn-hamburgerMenu::before,
	#hamburgerMenuInput:checked ~ .btn-hamburgerMenu::after {
		width: 26px;
	}
}

#hamburgerMenuInput:checked ~ .btn-hamburgerMenu::before {
	top: 0;
    transform: rotate(-45deg);
}

#hamburgerMenuInput:checked ~ .btn-hamburgerMenu::after {
    bottom: 0;
    transform: rotate(45deg);
}

.box-hamburgerMenu {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition-property: opacity;
	transition: .3s ease-in-out;
	opacity: 0;
	min-width: 320px;
	pointer-events: none;
	background-color: #000;
}

#hamburgerMenuInput:checked ~ .box-hamburgerMenu {
	opacity: 1;
	pointer-events: auto;
}

.wp-hamburgerMenuInr {
	display: table;
	width: 100%;
	height: 100%;
	padding: 20px 0 60px;
	position: relative;

	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&:before {
		background: url("/common/img/bg-mainVisual.jpg") center center no-repeat;
		background-size: cover;
		filter: blur(8px);
	}

	&:after {
		background-color: #fff;
		opacity: .6;
	}
}

@media screen and (max-width:480px) {
	.wp-hamburgerMenuInr {
		padding: 20px 0 60px;
	}
}

.box-hamburgerMenuInr {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	overflow-y: auto;
	overflow-x: hidden;
}

.list-hamburgerMenu {
	width: calc(100% - 112px);
	max-width: 1160px;
	margin: 50px auto 0;
}

@media screen and (max-width:480px) {
	.list-hamburgerMenu {
		width: calc(100% - 28px);
		margin-top: 0;
	}
}

.txt-transition {
	border-bottom: solid 1px #333;
	line-height: 120px;
	transition-property: line-height;
	transition-duration: .5s;

	&:nth-last-child(1) {
		border-bottom: none;
	}
}

@media screen and (max-width:960px) {
	.txt-transition {
		line-height: 94px;
	}
}

@media screen and (max-width:480px) {
	.txt-transition {
		line-height: 80px;
	}
}

.btn-transition {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: background-color;
	transition-duration: .5s;

	&::before {
		display: block;
		font-size: 50px;
		letter-spacing: .08em;
		color: #EDE3D5;
		opacity: .5;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -12px;
		margin: auto;
		font-family: 'Meddon', cursive;
		white-space: nowrap;
		transform: rotate(-7deg);
		transition-property: top, left, font-size;
		transition-duration: .5s;
	}

	@media screen and (max-width:800px) {
	    &::before {
			font-size: 42px;
		}
	}

	@media screen and (max-width:480px) {
	    &::before {
			font-size: 28px;
			top: 4px;
			left: -5px;
		}
	}

	&:hover::before {
		left: -22px;
	}

	&::after {
		content: "";
		display: block;
		width: 9px;
		height: 12px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 21px;
		margin: auto;
		background: url("/common/img/ico-arrow.svg") 0 0 no-repeat;
		background-size: 9px;
		transform: rotate(180deg);
		transition-property: right;
		transition-duration: .5s;
	}

	@media screen and (max-width:480px) {
	    &::after {
			right: 14px;
		}
	}

	&:hover::after {
		right: 31px;
	}

	@media screen and (max-width:480px) {
	    &:hover::after {
			right: 14px;
		}
	}

	&:hover {
		background-color: rgba(255, 255, 255, .2);
	}

	&--current {
		opacity: .5;
		pointer-events: none;
	}

	&--current::after {
		opacity: .5;
	}
}

.btn-transition--top::before {
	content: "Top Page"
}

.btn-transition--ux::before {
	content: "User Experience"
}

.btn-transition--ui::before {
	content: "User Interface"
}

.btn-transition--fe::before {
	content: "Front End"
}

.btn-transition--gd::before {
	content: "Graphic Design"
}

.txt-categoryName {
	font-size: 36px;
	display: table-cell;
	width: 98px;
	padding-left: 28px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	transition-property: padding-left, font-size;
	transition-duration: .5s;
}

@media screen and (max-width:480px) {
	.txt-categoryName {
		font-size: 24px;
		width: 72px;
		padding-left: 14px;
	}
}

.btn-transition:hover .txt-categoryName {
	padding-left: 38px;
}

@media screen and (max-width:480px) {
	.btn-transition:hover .txt-categoryName {
		padding-left: 14px;
		width: 72px;
	}
}

.txt-categoryNameSub {
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	transition-property: font-size;
	transition-duration: .5s;
}

@media screen and (max-width:480px) {
	.txt-categoryNameSub {
		font-size: 14px;
	}
}

.box-socialMedia {
	line-height: 1;
	margin: 12px auto 0;
	display: table;

	.btn-socialMedia {
		display: table-cell;
		vertical-align: middle;
		padding-right: 21px;

		&:nth-last-child(1) {
			padding-right: 28px;
		}

		img {
			transition-property: width;
			transition-duration: .5s;
		}
	}

	.txt-socialMedia {
		font-size: 32px;
		display: table-cell;
		vertical-align: middle;
		padding-top: 12px;
		transition-property: font-size, padding-top;
		transition-duration: .5s;
	}
}

@media screen and (max-width:480px) {
	.box-socialMedia {
		font-size: 23px;

		.btn-socialMedia {
			padding-right: 14px;

			&:nth-last-child(1) {
				padding-right: 14px;
			}

			img {
				width: 40px;
			}
		}

		.txt-socialMedia {
			font-size: 22px;
			padding-top: 10px;
		}
	}
}