.area-content-skill {
	overflow: hidden;
	margin: 80px auto 40px;
}

.area-content-skillInr {
	position: relative;
	width: calc(100% - 314px);
	float: right;
	padding: 0 40px 0;
	box-sizing: border-box;
	transition-property: width, padding, border;
	transition-duration: .5s;
	
	&::before {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background-color: #ccc;
		position: absolute;
		top: 0;
		left: 0;
		transition-property: opacity;
		transition-duration: .5s;
	}
}

@media screen and (max-width:1280px) {
	.area-content-skillInr {
		width: calc(100% - 284px);
	}
}

@media screen and (max-width:960px) {
	.area-content-skillInr {
		width: calc(100% - 254px);
	}
}

@media screen and (max-width:780px) {
	.area-content-skill {
		margin: 64px auto 40px;
	}
	
	.area-content-skillInr {
		width: 100%;
		padding: 0 14px 0;
		
		&::before {
			opacity: 0;
		}
	}
}

@media screen and (max-width:480px) {
	
}

@media screen and (max-width:320px) {
	
}