<header class="box-header<%= " "+pageId %>">
	<% if(pageId !== "top") { %>
	<a class="txt-siteNmae txt-fontAlphabet" href="/">SHIMO</a>
	<% }; %>
	<div class="btn-hamburgerMenu">
		<input id="inr-hamburgerMenuInput" type="checkbox">
		<label class="inr-hamburgerMenuOpen" for="inr-hamburgerMenuInput"><span></span></label>
		<div class="box-hamburgerMenu">ここに中身を入れる</div>
	</div><!-- /.btn-hamburgerMenu -->
</header>