<div class="box-skillSectionParallel">

	<div class="wp-sectionShumbnail">
		<div class="box-sectionShumbnail">
			<h3 class="ttl-sectionShumbnail">WEBサイト</h3>
			<img class="img-sectionShumbnail" src="/skill/img/img_pacific_web.jpg" alt="サムネイル WEBサイト" width="100%" height="" />
		</div><!-- /.box-sectionShumbnail -->
		
		<div class="box-sectionShumbnail">
			<img class="img-sectionShumbnail" src="/skill/img/img_pacific_web.jpg" alt="サムネイル WEBサイト" width="100%" height="" />
		</div><!-- /.box-sectionShumbnail -->
	</div><!-- /.wp-sectionShumbnail -->

	<p class="txt-sectionShumbnail">本件では、イメージビジュアル・WEB・サインボードの制作を担当しました。</p>
	
</div><!-- /.box-skillSectionParallel -->