.wp-SectionColumnHalf {
	display: flex;
	flex-flow: row;
}

.box-sectionColumn {
	width: 100%;
<<<<<<< HEAD:template/skill-section-column/skill-section-column.css
	margin-bottom: 56px;
}

.box-sectionColumn--half {
	width: calc((100% - 18px) / 2);
	
	& + & {
		margin-left: 18px;
	}
=======
	
	&--half {
		width: calc((100% - 18px) / 2);
		
		& + & {
			margin-left: 18px;
			margin-top: 0!important;
		}
	}
}

.wp-SectionColumnHalf + .box-sectionColumn,
.box-sectionColumn + .box-sectionColumn,
.box-sectionColumn + .wp-SectionColumnHalf {
	margin-top: 56px;
}

.box-sectionColumn--half + .box-sectionColumn--half {
	margin-top: 0;
}

.box-sectionAgenda + .box-sectionColumn,
.box-sectionAgenda + .wp-SectionColumnHalf {
	margin-top: 50px;
}

.ttl-sectionColumnThumbnail {
	line-height: 1;
	font-size: 16px;
	margin-bottom: 14px;
	transition-property: margin;
	transition-duration: .5s;
>>>>>>> master:template/skill/section-column/section-column.css
}

.wp-sectionColumnThumbnail {
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-flow: row;
}

.box-sectionColumnThumbnail{
	width: 100%;
	
	& + & {
		margin-left: 18px;
	}
}

.ttl-sectionColumnThumbnail {
	line-height: 1;
	font-size: 16px;
	margin-bottom: 14px;
	transition-property: margin;
	transition-duration: .5s;
}

.txt-sectionColumn {
	line-height: 1.8;
	margin-top: 10px;
	text-align: justify;
	transition-property: margin;
	transition-duration: .5s;
}

@media screen and (max-width:480px) {
	.wp-SectionColumnHalf {
		flex-flow: column;
		
		.box-sectionColumn--half:first-child {
			margin-bottom: 0;
		}
	}
	
	.box-sectionColumn--half {
		width: 100%;
		
<<<<<<< HEAD:template/skill-section-column/skill-section-column.css
		& + & {
			margin: 30px 0 56px 0;
=======
		&--half {
			width: 100%;
			
			& + & {
				margin: 30px 0 0 0!important;
			}
>>>>>>> master:template/skill/section-column/section-column.css
		}
	}
	
	.wp-sectionColumnThumbnail {
		flex-flow: column;
	}
	
	.box-sectionColumnThumbnail{
		width: 100%;
		
		& + & {
			margin: 14px 0 0 0;
			
			.ttl-sectionColumnThumbnail {
				margin-top: 16px;
			}
		}
	}
	
	.ttl-sectionColumnThumbnail {
		margin-bottom: 14px;
	}

	.txt-sectionColumn {
		margin-top: 11px;
	}
	
	.box-sectionAgenda + .box-sectionColumn,
	.box-sectionAgenda + .wp-SectionColumnHalf {
		margin-top: 34px;
	}
}