.box-skillOUtlineName {
	position: fixed;
	top: 80px;
	transform: translateX(-316px);
	transition-property: transform, opacity;
	transition-duration: .5s;
	
	&--inactive {
		opacity: 0;
	}
}

.txt-skillOUtlineName {
	font-size: 50px;
	line-height: 1;
	position: relative;
	z-index: 1;
	transition-property: font-size, top, left, transform;
	transition-duration: .5s;
}

.txt-skillOUtlineNameSub {
	font-size: 72px;
	line-height: 1;
	color: #EDE3D5;
	transform: rotate(-7deg);
	transform-origin: left bottom;
	position: absolute;
	top: 30px;
	left: -32px;
	width: 90vw;
	transition-property: font-size, top, left;
	transition-duration: .5s;
}

.txt-skillOUtlineNameSub.txt-skillOUtlineNameSub--small {
	font-size: 34px;
	top: 34px;
	left: -23px;
}

.ttl-skillOUtline {
	position: fixed;
	top: 160px;
	transform: translateX(-316px);
	transition-property: top, left, width, padding, transform, opacity;
	transition-duration: .5s;
	
	&--inactive {
		opacity: 0;
	}
}

.txt-skillOUtlineSub {
	line-height: 1;
	font-size: 16px;
	margin-bottom: 14px;
	display: block;
	transition-property: font-size, margin;
	transition-duration: .5s;
}

.txt-skillOUtline {
	line-height: 1.7;
	font-size: 24px;
	font-weight: bold;
	transition-property: font-size;
	transition-duration: .5s;
}

.txt-skillOUtlineCaptin {
	line-height: 1.8;
	margin: 10px 0 0;
	text-align: justify;
	transition-property: margin;
	transition-duration: .5s;
}

@media screen and (max-width:1280px) {
	.box-skillOUtlineName {
		transform: translateX(-286px);
	}
	
	.txt-skillOUtlineName {
		font-size: 45px;
	}
	
	.txt-skillOUtlineNameSub {
		font-size: 62px;
		top: 26px;
	}

	.txt-skillOUtlineNameSub.txt-skillOUtlineNameSub--small {
		font-size: 31px;
	}
	
	.ttl-skillOUtline {
		top: 154px;
		transform: translateX(-286px);
	}
	
	.txt-skillOUtlineSub {
		font-size: 15px;
		margin-bottom: 12px;
	}
	
	.txt-skillOUtline {
		font-size: 21px;
	}
}

@media screen and (max-width:960px) {
	.box-skillOUtlineName {
		transform: translateX(-254px);
	}
	
	.txt-skillOUtlineName {
		font-size: 40px;
	}
	
	.txt-skillOUtlineNameSub {
		font-size: 52px;
		top: 26px;
	}
	
	.txt-skillOUtlineNameSub.txt-skillOUtlineNameSub--small {
		font-size: 27px;
	}
	
	.ttl-skillOUtline {
		top: 144px;
		transform: translateX(-254px);
	}
	
	.txt-skillOUtlineSub {
		font-size: 14px;
		margin-bottom: 10px;
	}
	
	.txt-skillOUtline {
		font-size: 19px;
	}
}

@media screen and (max-width:780px) {
	.box-skillOUtlineName {
		position: absolute;
		transform: translateX(0);
		top: 20px;
		left: 18px;
	}
	
	.img-skillOUtlineMain {
		width: calc(100% - 104px);
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	
	.txt-skillOUtlineName {
		font-size: 45px;
	}
	
	.txt-skillOUtlineNameSub {
		font-size: 42px;
		top: 30px;
		left: -8px;
	}
	
	.ttl-skillOUtline {
		position: relative;
		text-align: right;
		width: 100%;
		transform: translateX(0);
		top: auto;
		left: auto;
		margin-top: calc(37% - 38px + 42px);
	}
	
	.txt-skillOUtlineSub {
		font-size: 17px;
		margin-bottom: 10px;
	}
	
	.txt-skillOUtline {
		font-size: 26px;
	}
	
	.txt-skillOUtlineCaptin {
		margin-top: 24px;
	}
}

@media screen and (max-width:480px) {
	.box-skillOUtlineName {
		position: absolute;
		top: 12px;
		left: 15px;
	}
	
	.img-skillOUtlineMain {
		width: calc(100% - 68px);
	}
	
	.txt-skillOUtlineName {
		font-size: 24px;
	}
	
	.txt-skillOUtlineNameSub {
		font-size: 26px;
		top: 18px;
		left: -8px;
	}
	
	.ttl-skillOUtline {
		margin-top: calc(37% - 25px + 38px);
	}
	
	.txt-skillOUtlineSub {
		font-size: 15px;
		margin-bottom: 6px;
	}
	
	.txt-skillOUtline {
		font-size: 22px;
	}
	
	.txt-skillOUtlineCaptin {
		margin-top: 18px;
	}
}