<div class="box-mainVisual">
	<div class="ttl-siteName">
		<p class="txt-siteNameSub txt-fontAlphabet">A Space Of WEB Creative Activity</p>
		<h1 class="txt-siteNameMain txt-fontAlphabet">
			<span class="txt-siteNameCharacter txt-siteNameCharacter-s">S</span><span class="txt-siteNameCharacter txt-siteNameCharacter-h">H</span><span class="txt-siteNameCharacter txt-siteNameCharacter-i">I</span><span class="txt-siteNameCharacter txt-siteNameCharacter-m">M</span><span class="txt-siteNameCharacter txt-siteNameCharacter-o">O</span>
			</h1>
		<p class="txt-myName txt-fontAlphabetSub">Shimosaka Tatsuya</p>
	</div>
	
	<ul class="box-mainVisualSlide">
	    <li class="img-mainVisual">
	    	<div class="img-mainVisualInr">
	    	</div>
	    </li>
	    <li class="img-mainVisual">
	    	<div class="img-mainVisualInr">
	    	</div>
	    </li>
	    <li class="img-mainVisual">
	    	<div class="img-mainVisualInr">
	    	</div>
	    </li>
	</ul><!-- /.box-mainVisualSlide -->
	
	<a class="btn-toProfile txt-fontAlphabet" href="#wp-profile">Profile</a>
</div><!-- /.box-mainVisual -->