<div class="box-mainVisual">
	<div class="ttl-siteName">
		<p class="txt-sitenameSub txt-fontAlphabet">Portfolio And My Personality</p>
		<h1 class="txt-sitenameMain txt-fontAlphabet">SHIMO</h1>
		<p class="txt-myName txt-fontAlphabetSub">Shimosaka Tatsuya</p>
	</div>
	
	<ul class="box-mainVisualSlide">
	    <li class="img-mainVisual">
	    	<div class="img-mainVisualInr">
	    	</div>
	    </li>
	    <li class="img-mainVisual">
	    	<div class="img-mainVisualInr">
	    	</div>
	    </li>
	    <li class="img-mainVisual">
	    	<div class="img-mainVisualInr">
	    	</div>
	    </li>
	</ul><!-- /.box-mainVisualSlide -->
</div><!-- /.box-mainVisual -->