<div id="box-profile">
	<div class="box-profileInr">
		<div class="ttl-profile txt-fontAlphabet">
			<p class="txt-profileCategory">Profile</p>
			<h2 class="txt-profileMain">
				<span class="txt-profileLast">Kamide</span>
				<span class="txt-profileFirst">Choemon</span>

			</h2>
			<p class="txt-profileProfession">WEB Designer</p>
		</div><!-- /.ttl-profile -->
		<dl class="data-profileOutline">
			<dt class="ttl-profileOutline">歴史ある伝統工芸</dt>
			<dd class="txt-profileOutline">私が目指すのは、技術を提供するだけのエンジニアではなく、クライアントの本質的な課題を、WEBクリエイターならではの技術と手法で解決に導く人材です。コンテンツの上流から下流まで、流動的に力を発揮するフルスタックなクリエイターになりたいです。</dd>
		</dl><!-- /.txt-profileOutline -->	
	</div><!-- /.box-profileInr -->
	
	<div class="img-profile">
		<img src="/top/img/img-profile.jpg" alt="サムネイル Kamide Choemon" width="100%" height="" />
	</div><!-- /.img-profile -->
</div>