.box-sectionAgendaSymbol {
	position: relative;
}

.txt-sectionAgendaSymbol {
	text-align: center;
	font-size: 28px;
	line-height: 1;
}

.txt-sectionAgendaSymbolSub {
	text-align: center;
	color: #ede3d5;
	font-size: 42px;
	position: absolute;
	right: 0;
	top: 16px;
	bottom: 0;
	left: 0;
	margin: auto;
	line-height: 1;
	transform: rotate(-7deg);
	z-index: -1;
}

.ttl-sectionAgenda {
	text-align: center;
	margin-top: 26px;
	font-size: 25px;
	line-height: 1.5;
}

.txt-sectionAgenda {
	line-height: 1.8;
	margin-top: 24px;
	text-align: justify;
}