<div class="box-sectionAgendaSymbol">
	<p class="txt-sectionAgendaSymbol txt-fontJapanese">課題</p>
	<p class="txt-sectionAgendaSymbolSub txt-fontAlphabetSub">Problem</p>
	<h2 class="ttl-sectionAgenda txt-fontJapanese">競合他社との差別化を図りたい</h2>
	<p class="txt-sectionAgenda">不動産業を営む企業が多数ある金沢において、他社と同じようにサービスを展開しているだけでは厳しい競争に勝つことはできません。そこで、イメージを一新して競合他社との差別化を図りたいと依頼を受けました。</p>
</div><!-- /.box-sectionAgendaSymbol -->