@import "./../../../template/base/reset";
@import "./../../../template/base/base";
@import "./../../../template/base/header";
@import "./../../../template/base/base-skill";
@import "./../../../template/skill/outline/outline";
@import "./../../../template/skill/title-section/title-section";
@import "./../../../template/skill/section/section";
@import "./../../../template/skill/agenda/agenda";
@import "./../../../template/skill/skill-and-method/skill-and-method";
@import "./../../../template/skill/link-to-other-site/link-to-other-site";
@import "./../../../template/skill/pager/pager";
@import "./../../../template/base/footer";

.ttl-agendaSub {
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
	position: relative;
	text-indent: 1.4em;
	margin: 63px 0 24px;
	transition-property: font-size;
	transition-duration: .5s;
	
	&::before {
		content: "";
		display: block;
		width: 1.2em;
		height: 2px;
		background-color: #333;
		position: absolute;
		top: 1px;
		left: 0;
		bottom: 0;
		margin: auto;
	}
}

@media screen and (max-width:1280px) {
	.txt-agenda-solution {
		.txt-newLine {
			display: block;
		}
		
		.txt-agenda-solution-line01 {
			text-indent: .9em;
			display: inline-block;
		}
	}
}

@media screen and (max-width:420px) {
	.txt-agenda-solution {
		.txt-agenda-solution-line01 {
			text-indent: 0;
		}
	}
}