<p class="txt-skillsetOutline">私は、『UX』『UI』『FE（フロントエンド）』『GD（グラフィックデザイン）』の<br class="txt-newLine">
4つのデザインスキルで、ともに事業を成長させます。</p><!-- /.txt-skillsetOutline -->

<div class="wp-skliisetChart">
	<div class="list-skliisetChart">
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/top/img/ico-skillset-ux.svg" alt="スキルセットの図 UX" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-ux txt-fontAlphabet">UX</dt>
				<dd class="txt-skliisetChart">ユーザー調査</dd>
				<dd class="txt-skliisetChart">インサイト検出</dd>
				<dd class="txt-skliisetChart">コンセプト設計</dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
		
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/top/img/ico-skillset-ui.svg" alt="スキルセットの図 UI" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-ui txt-fontAlphabet">UI</dt>
				<dd class="txt-skliisetChart">ユーザー調査</dd>
				<dd class="txt-skliisetChart">インサイト検出</dd>
				<dd class="txt-skliisetChart">コンセプト設計</dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
		
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/top/img/ico-skillset-fe.svg" alt="スキルセットの図 FE（フロントエンド）" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-fe txt-fontAlphabet">FE</dt>
				<dd class="txt-skliisetChart">ユーザー調査</dd>
				<dd class="txt-skliisetChart">インサイト検出</dd>
				<dd class="txt-skliisetChart">コンセプト設計</dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
		
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/top/img/ico-skillset-gd.svg" alt="スキルセットの図 GD（グラフィックデザイン）" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-gd txt-fontAlphabet">GD</dt>
				<dd class="txt-skliisetChart">ユーザー調査</dd>
				<dd class="txt-skliisetChart">インサイト検出</dd>
				<dd class="txt-skliisetChart">コンセプト設計</dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
	</div><!-- /.list-skliisetChart -->
	
	<div class="box-serviceChart">
		<img class="img-serviceChart" src="/top/img/ico-skillset-service.svg" alt="スキルセットの図 Service" width="100%" height="">
		<p class="txt-serviceChart txt-fontAlphabet">Service</p>
	</div><!-- /.box-serviceChart -->
</div><!-- /.wp-skliisetChart -->