.txt-skillsetOutline {
	text-align: center;
	line-height: 2.4;
	margin: 36px auto 26px;
	transition-property: margin, padding, font-size;
	transition-duration: .5s;
	
	.txt-newLine {
		display: block;
	}
}

.wp-skliisetChart {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	transition-property: width;
	transition-duration: .5s;
}

.list-skliisetChart {
	overflow: hidden;
	float: left;
	width: 760px;
	position: relative;
	padding-left: 16px;
	box-sizing: border-box;
	margin-top: 18px;
	box-sizing: border-box;
	transition-property: width, padding, margin;
	transition-duration: .5s;
	
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 84px;
		background: url("/top/img/img-skillset-allow.svg") left top no-repeat;
		background-size: 100%;
		position: absolute;
		top: 36px;
		left: 0;
		z-index: -1;
		transition-property: height, top, left, bottom, right, margin, transform;
		transition-duration: .5s;
	}
}

.box-skliisetChart {
    float: left;
    margin-right: 30px;
    width: 153px;
    transition-property: margin, width;
	transition-duration: .5s;
}

.img-skliisetChart {
	transition-property: width;
	transition-duration: .5s;
}

.data-skliisetChart {
	margin-top: 14px;
	padding-left: 4px;
}

.ttl-skliisetChart {
	line-height: 1;
	margin-bottom: 14px;
	font-size: 28px;
	letter-spacing: .03em;
	position: relative;
	transition-property: font-size, margin;
	transition-duration: .5s;
	
	&::before {
		display: inline-block;
		font-family: Meddon,cursive;
		font-size: 14px;
		letter-spacing: 0;
		color: #ede3d5;
		transform: rotate(-7deg);
		position: absolute;
		bottom: -2px;
		left: 0;
		z-index: -1;
		transition-property: font-size;
		transition-duration: .5s;
	}
	
	&-ux::before {
		content: "User Experiense";
	}
	
	&-ui::before {
		content: "User Interface";
	}
	
	&-fe::before {
		content: "Front End";
	}
	
	&-gd::before {
		content: "Graphic Design";
	}
}

.txt-skliisetChart {
	line-height: 1.6;
	font-size: 14px;
	transition-property: font-size;
	transition-duration: .5s;
	
	
	&::before {
		content: "・";
		display: inline-block;
	}
}

.txt-skliisetChartLink {
	line-height: 1.2;
	font-size: 16px;
	display: inline-block;
	margin-left: 2px;
	transition-property: opacity, font-size;
	transition-duration: .3s;
	
	.txt-skliisetChartLine {
		display: inline-block;
		border-bottom: solid 1px #888;
	}
	
	&::after {
		content: "";
		display: inline-block;
		background: url("/common/img/ico-arrow.svg") 0 0 no-repeat;
		width: 7px;
		height: 11px;
		background-size: 7px;
		margin: 12px 0 0 6px;
		transform: rotate(180deg);
		transition-property: margin;
		transition-duration: .5s;
	}
	
	&:hover {
		opacity: .5;
	}
	
	&:hover::after {
		margin-left: 3px;
	}
}

.box-serviceChart {
	float: right;
	width: 189px;
	text-align: center;
}

.txt-serviceChart {
	font-size: 44px;
	letter-spacing: .03em;
	position: relative;
	transition-property: font-size width;
	transition-duration: .5s;
	
	&::before {
		content: "Business Strategy";
		display: inline-block;
		font-family: Meddon,cursive;
		font-size: 15px;
		letter-spacing: 0;
		color: #ede3d5;
		transform: rotate(-7deg);
		position: absolute;
		bottom: -6px;
		right: 0;
		left: 0;
		z-index: -1;
		transition-property: font-size;
		transition-duration: .5s;
	}
}

@media screen and (max-width:960px) {
	.wp-skliisetChart {
		width: 795px;
	}
	
	.txt-skillsetOutline {
		margin-top: 20px;
	}
	
	.list-skliisetChart {
		width: 600px;
		padding-left: 21px;
		margin-top: 34px;
		
		&::before {
			height: 63px;
			top: 29px;
		}
	}
	
	.box-skliisetChart {
		margin: 0 22px 0 0;
		width: 114px;
	}
	
	.txt-skliisetChart {
		font-size: 12px;
	}
}

@media screen and (max-width:780px) {
	.txt-skillsetOutline {
		text-align: center;
		font-size: 14px;
		padding: 0 14px;
		box-sizing: border-box;
		margin: 10px auto 40px;
	}
	
	.wp-skliisetChart {
		overflow: unset;
		width: 100%;
	}
	
	.list-skliisetChart {
		overflow: unset;
		float: none;
		width: 100%;
		padding: 20px 0 26px 30px;
		margin: 18px 0;
		
		&::before {
			width: 90px;
			height: 100%;
			background: url("/top/img/img-skillset-allow-sp.svg") 0 0 no-repeat;
			background-size: 90px;
			top: 0;
			left: -170px;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}

	.box-skliisetChart {
	    float: none;
	    text-align: center;
	    margin: 0 0 20px 0;
	    width: 100%;
	}

	.img-skliisetChart {
		display: inline-block;
		width: 170px;
		vertical-align: middle;
	}
	
	.data-skliisetChart {
		display: inline-block;
		text-align: left;
		margin: 0 0 0 10px;
		vertical-align: middle;
		width: 180px;
	}

	.ttl-skliisetChart {
		font-size: 36px;
		
		&::before {
			font-size: 18px;
		}
	}
	
	.txt-skliisetChart {
		font-size: 16px;
	}
	
	.box-serviceChart {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	
	.img-serviceChart {
		width: 240px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 -37px 0 0;
	}
	
	.txt-serviceChart {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		font-size: 54px;
		width: 294px;
		
		&::before {
			font-size: 23px;
		}
	}
}

@media screen and (max-width:480px) {
	.list-skliisetChart {
		padding: 18px 0 28px 10px;
		margin-bottom: -4px;
		
		&::before {
			width: 73px;
			background-size: 73px;
			left: -132px;
		}
	}
	
	.txt-skillsetOutline {
		text-align: justify;
		margin-bottom: 20px;
				
		.txt-newLine {
			display: none;
		}	
	}
	
	.img-skliisetChart {
		width: 132px;
	}
	
	.data-skliisetChart {
		width: 132px;
		margin: 0 0 0 2px;
	}
	
	.ttl-skliisetChart {
		font-size: 28px;
		margin-bottom: 10px;
		
		&::before {
			font-size: 12px;
		}
	}
	
	.txt-skliisetChart {
		font-size: 12px;
	}
	
	.txt-skliisetChartLink {
		font-size: 14px;
		
		&::after {
			width: 6px;
			height: 8px;
			background-size: 6px;
			margin-left: 4px;
		}
	}
	
	.box-serviceChart {
		margin-top: 14px;
		padding-left: 6px;
		box-sizing: border-box;
	}
	
	.img-serviceChart {
		width: 162px;
	}
	
	.txt-serviceChart {
		margin-left: 5px;
		font-size: 30px;
		width: 164px;
		
		&::before {
			font-size: 10px;
		}
	}
}