.img-section {
	margin-bottom: 14px;
}

.box-section .img-section:last-of-type {
	margin-bottom: 0;
}

.ttl-section + .box-section {
	margin-top: 45px;
}

.txt-section {
	line-height: 1.8;
	margin-top: 10px;
	transition-property: margin;
	transition-duration: .5s;
}

@media screen and (max-width:480px) {
	.txt-section {
		margin-bottom: 60px;
	}	
}