<ul class="list-sectionResult">
	<% txtSectionResult.forEach(function (txt, n) { %>
	<li class="txt-sectionResult"><span class="txt-sectionResultInr"><%= txt %></span></li>
	<% }); %>
</ul><!-- /.list-sectionResult -->