<div class="box-sectionColumn box-sectionColumn--half">
	<div class="box-sectionColumnThumbnail">
		<h3 class="ttl-sectionColumnThumbnail"><%= ttlSectionColumn %></h3>
		<img class="box-ScrollAnimaton" src="<%= sectionColumnThumbnail %>" alt="<%= ttlSectionColumn %> サムネイル" width="100%" height="" />
	</div><!-- /.box-sectionColumnThumbnail -->
	<p class="txt-sectionColumn"><%= txtSectionColumn %></p>
</div><!-- /.box-sectionColumn--half -->