<div class="box-skillSection">
	<% imgSkillSection.forEach(function (img, n) { %>
	<div class="img-skillSection">
		<img src="<%= img %>" alt="実例 サムネイル<%= n %>" width="100%" height="" />
	</div>
	<% }); %>
	<p class="txt-skillSection">金沢で不動産業を展開する『パシフィック不動産』のプロモーションの事例です。</p>	
</div><!-- /.box-skillSection -->