.img-section {
	margin-bottom: 14px;
}

.box-section .img-section:last-of-type {
	margin-bottom: 0;
}

.ttl-section + .box-section {
	margin-top: 45px;
}

.txt-sectionCaption {
	line-height: 1.8;
	margin-top: 10px;
	transition-property: margin;
	transition-duration: .5s;
}

@media screen and (max-width:480px) {
	.txt-sectionCaption {
		margin-bottom: 60px;
	}	
}

/* ----------------------------------------- section-column & section-column--half */
.wp-SectionColumnHalf {
	display: flex;
	flex-flow: row;
}

.box-sectionColumn {
	width: 100%;
	
	&--half {
		width: calc((100% - 18px) / 2);
		
		& + & {
			margin-left: 18px;
			margin-top: 0!important;
		}
	}
}

.wp-SectionColumnHalf + .box-sectionColumn,
.box-sectionColumn + .box-sectionColumn,
.box-sectionColumn + .wp-SectionColumnHalf {
	margin-top: 56px;
}

.box-sectionColumn--half + .box-sectionColumn--half {
	margin-top: 0;
}

.box-sectionAgenda + .box-sectionColumn,
.box-sectionAgenda + .wp-SectionColumnHalf {
	margin-top: 50px;
}

.ttl-sectionColumnThumbnail {
	line-height: 1;
	font-size: 16px;
	margin-bottom: 14px;
	transition-property: margin;
	transition-duration: .5s;
}

.wp-sectionColumnThumbnail {
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-flow: row;
}

.box-sectionColumnThumbnail{
	width: 100%;
	
	& + & {
		margin-left: 18px;
	}
}

.ttl-sectionColumnThumbnail {
	line-height: 1;
	font-size: 16px;
	margin-bottom: 14px;
	transition-property: margin;
	transition-duration: .5s;
}

.txt-sectionColumn {
	line-height: 1.8;
	margin-top: 10px;
	text-align: justify;
	transition-property: margin;
	transition-duration: .5s;
}

@media screen and (max-width:480px) {
	.wp-SectionColumnHalf {
		flex-flow: column;
		
		.box-sectionColumn--half:first-child {
			margin-bottom: 0;
		}
	}
	
	.box-sectionColumn--half {
		width: 100%;
		
		&--half {
			width: 100%;
			
			& + & {
				margin: 30px 0 0 0!important;
			}
		}
	}
	
	.wp-sectionColumnThumbnail {
		flex-flow: column;
	}
	
	.box-sectionColumnThumbnail{
		width: 100%;
		
		& + & {
			margin: 14px 0 0 0;
			
			.ttl-sectionColumnThumbnail {
				margin-top: 16px;
			}
		}
	}
	
	.ttl-sectionColumnThumbnail {
		margin-bottom: 14px;
	}

	.txt-sectionColumn {
		margin-top: 11px;
	}
	
	.box-sectionAgenda + .box-sectionColumn,
	.box-sectionAgenda + .wp-SectionColumnHalf {
		margin-top: 34px;
	}
}

/* ----------------------------------------- section-underline */
.list-sectionResult {
	text-align: center;
	margin-top: 56px;
	transition-property: margin;
	transition-duration: .5s;
}

.txt-sectionResult {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 8px;
	transition-property: font-size;
	transition: .5s;
}

.txt-sectionResultInr {
	background:linear-gradient(transparent 81%, #F8DDAA 0%) ;
	padding-bottom: 1px;
}

@media screen and (max-width:960px) {
	.txt-sectionResult {
		font-size: 17px;
	}	
}

@media screen and (max-width:480px) {
	.list-sectionResult {
		margin-top: 21px;
	}
	
	.txt-sectionResult {
		font-size: 15px;
		text-align: justify;
		text-indent: -.5em;
		margin-left: 1em;
		
		&::before {
			content: "・";
			display: inline-block;
		}
	}
}