<div class="box-section">
	<% imgSection.forEach(function (img, n) { %>
	<div class="img-section">
		<img class="box-ScrollAnimaton" src="<%= img %>" alt="実例 サムネイル<%= n %>" width="100%" height="" />
	</div>
	<% }); %>
	<p class="txt-sectionCaption"><%= txtSection %></p>	
</div><!-- /.box-section -->