<div class="box-skillOUtlineName">
	<span class="txt-skillOUtlineName txt-fontAlphabet">GD</span>
	<span class="txt-skillOUtlineNameSub txt-fontAlphabetSub">Graphic Design</span>
</div><!-- /.box-skillOUtlineName -->

<div class="ttl-skillOUtlineOtr">
	<span class="ttl-skillOUtlineSub txt-fontAlphabet">Graphic Design</span>
	<h1 class="ttl-skillOUtline txt-fontJapanese">本質的な思いを<br>デザインで表現する</h1>
</div><!-- /.ttl-skillOUtlineOtr -->

<div class="img-skillOUtlineMain"><img src="/skill/img_mainGd.jpg" alt="メインビジュアル グラフィックデザイン" width="100%" height="" /></div>
<p class="txt-skillOUtline">レコードのジャケットには、ミュージシャンが楽曲に込めた思いが1枚の絵となって表現されています。WEBデザイナーは、クライアントが抱いている本質的な思いをデザインで表現する必要があると思います。</p><!-- /.txt-skillSetOUtline -->