<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1);
%>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= meta.pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="style.min.css">
</head>

<body>
<%- include(setLayered + "template/header") %>
<%- include(setLayered + "template/componentSample" ,{
	txtComponentSample: 'ほげほげほげほげ'
}) %>
</body>
</html>