<div class="wp-pager">
	<a class="box-pager" href="#">
		<div class="box-pagerInr">
			<p class="txt-pagerSymbol txt-fontAlphabet">FE</p>
			<span class="txt-pagerScript txt-fontAlphabetSub">Front End</span>
			<span class="txt-pagerSub txt-fontAlphabet">Front End</span>
		</div><!-- /.box-pagerInr -->
		<img src="/skill/img/btn_toFe.jpg" alt="画像 ページャー Front End" width="100%" height="" />
	</a><!-- /.box-pager -->
	
	<a class="box-pager" href="#">
		<div class="box-pagerInr">
			<p class="txt-pagerSymbol txt-fontAlphabet">UX</p>
			<span class="txt-pagerScript txt-fontAlphabetSub">User Experience</span>
			<span class="txt-pagerSub txt-fontAlphabet">User Experience</span>
		</div><!-- /.box-pagerInr -->
		<img src="/skill/img/btn_toUx.jpg" alt="画像 ページャー Front End" width="100%" height="" />
	</a><!-- /.box-pager -->
</div><!-- /.wp-pager -->