<div class="ttl-section">
	<p class="txt-sectionSymbol txt-fontAlphabet"><%= txtSectionSymbol %></p>
	<p class="txt-sectionSymbolScript txt-fontAlphabetSub"><%- txtSectionSymbolSub %></p>
	<h2 class="txt-section txt-fontJapanese"><%- ttlSectionTop %></h2>
	<p class="txt-deliverables"><%= txtSectionTop %></p>
</div><!-- /.ttl-section -->