<div class="box-sectionColumn">
	<h3 class="ttl-sectionShumbnail">WEBサイト</h3>
	<img class="img-sectionShumbnail" src="/skill/img/img_pacific_web.jpg" alt="サムネイル WEBサイト" width="100%" height="" />
	<p class="txt-sectionShumbnail">本件では、イメージビジュアル・WEB・サインボードの制作を担当しました。</p>
</div><!-- /.box-sectionColumn -->