<div class="box-sectionTop">
	<p class="txt-sectionSymbol txt-fontAlphabet"><%= txtSectionSymbol %></p>
	<p class="txt-sectionSymbolSub txt-fontAlphabetSub"><%- txtSectionSymbolSub %></p>
	<h2 class="ttl-sectionTop txt-fontJapanese"><%- ttlSectionTop %></h2>
	<p class="txt-sectionTop"><%= txtSectionTop %></p>
</div><!-- /.box-sectionTop -->