<div class="ttl-agenda">
	<p class="txt-agendaSymbol txt-fontJapanese"><%= txtSectionAgendaSymbol %></p>
	<p class="txt-agendaSymbolScript txt-fontAlphabetSub"><%= txtSectionAgendaSymbolSub %></p>
	<% if (ttlSectionAgenda !== "") { %>
	<h2 class="txt-agenda txt-fontJapanese"><%- ttlSectionAgenda %></h2>
	<% }; %>
	<% if (txtSectionAgenda !== "") { %>
	<p class="txt-agendaCaption"><%= txtSectionAgenda %></p>
	<% }; %>
</div><!-- /.ttl-Agenda -->