<div class="box-sectionAgenda">
	<p class="txt-sectionAgendaSymbol txt-fontJapanese"><%= txtSectionAgendaSymbol %></p>
	<p class="txt-sectionAgendaSymbolScript txt-fontAlphabetSub"><%= txtSectionAgendaSymbolSub %></p>
	<% if (ttlSectionAgenda !== "") { %>
	<h2 class="ttl-sectionAgenda txt-fontJapanese"><%- ttlSectionAgenda %></h2>
	<% }; %>
	<% if (txtSectionAgenda !== "") { %>
	<p class="txt-sectionAgenda"><%= txtSectionAgenda %></p>
	<% }; %>
</div><!-- /.box-sectionAgenda -->