<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= meta.pageTitle %></title>
</head>

<body>
    <h1><%= meta.pageTitle %></h1>
    <p>これは<%= meta.pageTitle %>のサンプルです。</p>
</body>
</html>