@import "./../template/base/reset";
@import "./../template/base/base";
@import "./../template/base/header";
@import "./../template/main-visual/main-visual";
@import "./../template/profile/profile";
@import "./../template/title-section/title-section";
@import "./../template/skill-set/skill-set";
@import "./../template/link-to-skill/link-to-skill";
@import "./../template/base/footer";

#wp-profile {
	margin-bottom: 140px;
}

.wp-skliisetChart {
	margin-bottom: 140px;
}

.txt-caseStudyOutline {
	text-align: center;
	margin: 49px 0 84px;
	
	@media screen and (max-width:480px) {
		text-align: justify;
		margin: 10px 0 40px;
		padding: 0 14px;
		line-height: 2.4;
	}
}

.list-linkToSkill {
	width: 100%;
	max-width: 1560px;
	margin: 0 auto 70px;
	overflow-x: hidden;
}

