@import "./../../template/base/reset";
@import "./../../template/base/base";
@import "./../../template/base/header";
@import "./../../template/base/base-skill";
@import "./../../template/skill/outline/outline";
@import "./../../template/skill/title-section/title-section";
@import "./../../template/skill/section/section";
@import "./../../template/skill/subtitle-section/subtitle-section";
@import "./../../template/skill/section-column/section-column";
@import "./../../template/skill/section-underline/section-underline";
@import "./../../template/skill/skill-and-method/skill-and-method";
@import "./../../template/skill/link-to-other-site/link-to-other-site";
@import "./../../template/skill/pager/pager";
@import "./../../template/base/footer";

.txt-skillOUtline {
	margin-bottom: 70px;
}

.box-sectionTop {
	margin-bottom: 45px;
}

@media screen and (max-width:1280px) {
	.txt-imageEstablishment {
		.txt-newLine {
			display: block;
		}
		
		.txt-imageEstablishmentLine01 {
			text-indent: .9em;
			display: inline-block;
		}
	}
}

@media screen and (max-width:420px) {
	.txt-imageEstablishment {
		.txt-imageEstablishmentLine01 {
			text-indent: 0;
		}
	}
}