<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "top";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "head", { pageId: pageId }) %>
<body>
<%- include(setLayered + "header", { pageId: pageId }) %>
<%- include(setLayered + "mainvisual") %>

</body>
</html>