<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1);

/* ページID */
var pageId = "top";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "template/head", { pageId: pageId }) %>
<body>
<%- include(setLayered + "template/header", { pageId: pageId }) %>
<%- include(setLayered + "template/mainvisual") %>

</body>
</html>